* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url();
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wrapper {
	height: 350px;
	margin: 100px auto 0;
	position: relative;
	width: 700px;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transform: scale(1.5);
	transform: scale(1.5);
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
		background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slide1 { 
	background-image: url(https://avatars.mds.yandex.net/i?id=a50f62d51c4e683f1aba7a79e2a88d56-5508431-images-thumbs&n=13);
}

.slide2 { 
	background-image: url(https://w-dog.ru/wallpapers/3/8/499597247090459/kamni-rybalka-reka-priroda-les-nebo-gory-prekrasnyj-pasmurno.jpg);
}

.slide3 { 
	background-image: url(https://mobimg.b-cdn.net/v3/fetch/13/13bdc6be06334e59bb4a77663e67eb88.jpeg);
}

.slide4 { 
	background-image: url(https://s7.hostingkartinok.com/uploads/images/2015/01/8ab79903b8acfac2062d21d72b85e36f.jpg);
}

.slide5 {
 background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613636450_7-p-fon-dlya-prezentatsii-gori-13.jpg);
  }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
	transform: scale(1);
	transform: scale(1);
	transform: scale(1);
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	border-radius: 50%;
	border-radius: 50%;
	border-radius: 50%;
	transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #000000;
}

.wrapper label:after {
	border: 2px solid #000000;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
	border-radius: 50%;
	border-radius: 50%;
	border-radius: 50%;
}